<div id="comments_list">
  <table cellspacing="0">
    <tr>
      <th>Article</th>
      <th>Date</th>
      <th>Votes</th>
      <th>Comment</th>
    </tr>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.article.title %></td>
      <td><%= comment.created_at.strftime("%B %d") %></td>
      <td>
        <%= comment.yay_array.length %>/<%= comment.nay_array.length %>
        <%= comment.vote_count %>
      </td>
      <td class="body"><%= comment.body_html %></td>
    </tr>
    <% end %>
  </table>
</div>