<% if !@articles.empty? %>
  <% @articles.each do |article| %>
    <div class="article">
  
      <h1 class="title" title="<%= article.published_at.strftime("%Y-%m-%d") unless article.published_at.nil? %>">
        <%= link_to article.title, "/articles/#{article.to_param}" %></h1>
      <h2 class="created_at"><%#= time_ago_in_words(article.published_at) + ' ago' unless article.published_at.nil? %>
        <%= article.published_at.nil? ? 'unpublished' : time_ago_in_words(article.published_at) + ' ago' %> /
        <%= pluralize article.comments_count, 'Comment' %>
      </h2>

      <div class="body">
        <%= article.excerpt_html.blank? ? article.body_html : article.excerpt_html %>
      </div>
      
      <h2 style="text-align:center;color:#ddd;margin:20px">– § –</h2>
      
    </div>
  <% end %>
  
<% elsif !logged_in? %>
  <h2>Congratulations! you have a blog!</h2>
  <h3>You may now <a href="/articles/new">Login</a></h3>
  <p>*Your password is located in the <strong>config/settings.yml</strong> file. you can change/view it there.</p>
<% else %>
  <h2>You have no articles :(</h2>
<% end %>