<% unless @articles.empty? %>
  <% @articles.each do |article| %>
    <div class="article">
  
      <h1 class="title" title="<%= article.published_at.strftime("%Y-%m-%d") %>"><%= link_to article.title, "/articles/#{article.to_param}" %></h1>
      <h2 class="created_at"><%= time_ago_in_words(article.published_at) %> ago</h2>

      <div class="body">
        <%= article.excerpt_html.blank? ? article.body_html : article.excerpt_html %>
      </div>
      <div class="meta">
        <h3><%= article.comments_count %> Comments</h3>
      </div>
    </div>
  <% end %>
  
<% else %>
  <h3>There are no articles. <a href="/articles/new">Login</a> to add content.</h3>
<% end %>