<style type="text/css" media="screen">
  
  #comments{
  font-family:Verdana;
  width:500px;
  }
  .comment{
  padding-top:3px;
  margin:15px 0;
  }
  div.arrows{
  float:left;
  height:31px;
  width:13px;
  } 
  a.uparrow, a.downarrow, a.modedup, a.modeddown{
  display:block;
  width:13px;
  height:14px;
  }
  a.uparrow{
  background:transparent url(/images/arrowup.gif) 0 0 no-repeat;
  }
  a.downarrow{
  background:transparent url(/images/arrowdown.gif) 0 0 no-repeat;
  margin-top:3px;
  }
  a.uparrow:hover, a.modedup{
  background:transparent url(/images/arrowup.gif) 0 -14px no-repeat;
  }
  a.downarrow:hover, a.modeddown{
  background:transparent url(/images/arrowdown.gif) 0 -14px no-repeat;
  margin-top:3px;
  }

  .comment-head{
  font-size:.9em;
  color:#aaa;
  padding:0;
  }
  .comment .name{
  font-weight:bold;
  color:#034;
  }
  .comment .points{
  color:#888;
  }

  .comment-main{
  margin-left:19px;
  padding:0;
  }
  .comment p{
  padding:2px 0;
  margin:2px 0;
  }
  
</style>



<div id="article">
  
  <h1 class="title"><%= link_to @article.title, "/articles/#{@article.to_param}" %></h1>
  <h2 class="created_at"><%= time_ago_in_words(@article.created_at) %> ago</h2>

  <div class="body">
    <%= @article.body_html %>
  </div>
  
  <div id="comments">
    <h2>Comments</h2>
    <%= partial 'comments/comment', :with => @article.comments, :path => "/articles/#{@article.to_param}" %>
  </div>
  
  <%= partial 'comments/new' %>
  
  
</div>