<div id="article">
  
  <h1 class="title"><%= link_to @article.title, "/articles/#{@article.to_param}" %></h1>
  <h2 class="created_at"><%= time_ago_in_words(@article.published_at || @article.created_at) %> ago / <%= pluralize @article.comments_count, 'Comment' %></h2>
  <div class="body"><%= @article.body_html %></div>
  
  <div id="comments">
    <h2>Comments</h2>
    <%= partial 'comments/comment', :with => @article.comments, :path => "/articles/#{@article.to_param}" %>
  </div>
    
  <%= partial 'comments/new' %>

</div>