<style type="text/css" media="screen">
  #sbar h3{
  border-bottom:1px dotted #ccc;
  }
  #sbar ul{
  list-style-type:none;
  padding:0;
  }
  #article_list li{
  padding:4px 0;
  }
  .article_btn{

  }
  li a.title{
  font-family:Arial;
  font-size:12px;
  color:#666;
  text-decoration:none;
  }
  
  #asset_list li{
   float:left;
   padding-right:4px; 
  }
  .btn{
  clear:both;
  text-decoration:none;
  }
  .draft{
  color:red;
  }
</style>

<% unless @articles.empty? %>
  <div id="article_list">
    <h3>Articles - <%= link_to 'new', "/articles/new", :class => 'btn' %></h3>
    <ul>
    <% for article in @articles %>
      <li><%= '<span class="draft">draft - </span>' unless article.published_at %><%= link_to article.title, "/articles/#{article.to_param}", :class => 'title' %> -
      <%= link_to 'edit', "/articles/#{article.to_param}/edit" %> |
      <%= link_to 'destroy', "/articles/#{article.to_param}", :class => 'delete' %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% unless @assets.empty? %>
  <div id="asset_list">
    <h3>Assets - <%= link_to 'manage', "/assets", :class => 'btn' %></h3>
    <ul>
    <% for asset in @assets %>
      <li><a href="<%= asset.public_filename %>" title="<%= asset.filename %>"><img src="<%= asset.public_filename :thumb %>"></img></a></li>
    <% end %>
    </ul>
  </div>
<% end %>