<div id="article_list" class="listing">
  <h2><a href="/articles">Articles</a> <%= @articles.length %> <%= link_to 'new', "/articles/new", :class => 'btn' %></h2>
  <% unless @articles.empty? %>
    <ul>
    <% for article in @articles %>
      <li>
        <%= '<span class="draft">draft - </span>' unless article.published_at %><%= link_to article.title, "/articles/#{article.to_param}", :class => 'title' %>
        <span class="btns">
          <%= link_to 'edit', "/articles/#{article.to_param}/edit" %> |
          <%= link_to 'destroy', "/articles/#{article.to_param}", :class => 'delete' %>
        </span>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>

<div id="asset_list" class="listing">
  <h2><a href="/assets">Assets</a> <%= @assets.length %> <%#= link_to 'add', "/assets", :class => 'btn' %></h2>
  <% unless @assets.empty? %>
    <ul>
    <% for asset in @assets %>
      <li><a href="<%= asset.public_filename %>" title="<%= asset.filename %>"><img src="<%= asset.public_filename :thumb %>"></img></a></li>
    <% end %>
    </ul>
  <% end %>
</div>

<div id="comment_list" class="listing">
  <h2><a href="/comments">Comments</a> <%= @comments_count %> <%#= link_to 'review', "/comments", :class => 'btn right' %></h2>
</div>