<% form_for :asset, :action => url(:assets), :multipart => true do %>
	<%= file_control :uploaded_data, :label => "Upload Asset" %>
	<input name="commit" type="submit" value="Upload" />
<% end %>

<%= "<h2>You have no assets :(</h2>" if @assets.empty? %>
  
<div id="images">
  <ul>
    <% for asset in @assets %>
    <li class="asset">
      <a href="/assets/<%= asset.id %>"><img src="<%= asset.public_filename :med %>" /></a>
      <div class="asset_panel">
        <a href="/assets/<%= asset.id %>" class="del delete">del</a>
      </div>
    </li>
    <% end %>
  </ul>
</div>